doctype html
html
  head
    link(type='text/css' href='/css/styles.css' rel='stylesheet')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  title= title
  body
    div
      a.navButton(href='home')
        img(src='images/BearClawLogo.png' height='75px' width='100px')
        a.navButton(href='signup')
        img(src='images/bclogin.png' height='75px' width='100px')
      a.navButton(href='myrecipes')
        img(src='images/bcmyrecipes.png' height='75px' width='100px')
      a.navButton(href='publicrecipes')
        img(src='images/bcpublic.png' height='75px' width='100px')
      img(src='images/BearClawBanner.png')

    if currentUser
      img(src='images/bclogout.png')
    

    block content
    footer
      p All original content on this page is &copy; 2020 BearClawRecipeForum, Inc.