doctype html
html
  head
    link(type='text/css' href='/css/styles.css' rel='stylesheet')
    title= title
  body
    div
    a(href='/')
      img(src='images/BearClawLogo.png' height='75px' width='100px')
    a.navButton(href='loginorsignup')
      img(src='images/bclogin.png' height='75px' width='100px')
    a.navButton(href='myrecipes')
      img(src='images/bcmyrecipes.png' height='75px' width='100px')
    a.navButton(href='publicrecipes')
      img(src='images/bcpublic.png' height='75px' width='100px')
    block content