doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div
    a(href='/')
      img(src='images/BearClawLogo.png')
    a(href='loginorsignup') Login/Sign Up
    a(href='myrecipes') My Recipes
    a(href='publicrecipes') Public Recipes
    block content