doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    div
    a(href='/')
      img(src='images/BearClawLogo.png')
    a(href='url') Login/Sign Up
    a(href='url') My Recipes
    a(href='url') Public Recipes
    block content