extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        form(method='POST' action='/login' class = "loginform")
          span(class = "formtitle") Log In
          div.form-group
            input.form-control(type='text' id='email' placeholder='Email' name='email' class = "inputEmail validate-input" data-validate="Valid email: ex@test.com")
          div.form-group
            input.form-control(type='password' id='password' placeholder='Password' name='password' class = "inputEmail validate-input" data-validate="Password required")
            button.btn.btn-primary(type='submit' class = "buttonlogin") Login 
          div(class = "textcenter")
            span(class = "txt") Forgot 
            a(class = "txt1" href = "#") Username / Password?
          div(class = "txtcenter")
            a(class ="txt2" href="#") Create your Account
          