doctype html
html
  head
    link(type='text/css' href='/css/styles.css' rel='stylesheet')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  title= title
  body
    div
      a.navButton(href='home')
        img(src='images/BearClawLogo.png' height='75px' width='100px')
      a.navButton(href='/logout')
        img(src='images/bclogout.png' height='75px' width='100px')
      a.navButton(href='myrecipes')
        img(src='images/bcmyrecipes.png' height='75px' width='100px')
      a.navButton(href='publicrecipes')
        img(src='images/bcpublic.png' height='75px' width='100px')
      a.navButton(href='profile')
        img(src='images/bcprofile.png' height='75px' width='100px')
      img(src='images/BearClawBanner.png')
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-1 Add New Recipe
        form(method='POST' action='/addrecipe')
        div.form-group
          label(for='title') Name
          input.form-control(type='text' id='title' name='title' placeholder='Enter Recipe Name')
        div.form-group
          label(for='ingredients') Ingredients
          input.form-control(type='text' id='ingredients' name='ingredients')
        div.form-group
          label(for='instructions') Instructions
          input.form-control(type='text' id='instructions' name='instructions')
        button.btn.btn-primary(type='submit') Add Recipe
        br
        div.btn.btn-danger.delete.recipe(type='delete' id= 1) Delete Recipe
        br
        button.btn.btn-edit(type='submit') Edit Recipe
      label(for= 'public') Public
      input(type='radio', name='public_private', value='public') 
      label(for= 'private') Private
      input(type='radio', name='public_private', value='private')
    
    script(src="/javascript/recipes.js")
block content
  #recipe-section(type="text/number" name="recipe-section" value="")
    .row(value="15")
      .col-md-6.col-md-offset-3(value="50")
        h1.display-4.m-b-2 My Recipes 
          #recipe-name(value="")
          #recipe-ingredients(value="")
          #recipe-instructions(value="")
  footer
    p All original content on this page is &copy; 2020 BearClawRecipeForum, Inc.

