doctype html
html
  head
    link(type='text/css' href='/css/styles.css' rel='stylesheet')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  title= title
  body
    div
      a.navButton(href='home')
        img(src='images/BearClawLogo.png' height='75px' width='100px')
      a.navButton(href='/logout')
        img(src='images/bclogout.png' height='75px' width='100px')
      a.navButton(href='myrecipes')
        img(src='images/bcmyrecipes.png' height='75px' width='100px')
      a.navButton(href='publicrecipes')
        img(src='images/bcpublic.png' height='75px' width='100px')
      a.navButton(href='profile')
        img(src='images/bcprofile.png' height='75px' width='100px')
      img(src='images/BearClawBanner.png')
  .main.container.clearfix
    .row
      .col-md-8.col-md-offset-2
        h1.display-4
          img.avatar.img-circle.hidden-xs-down(src='/images/avatar.png', alt='avatar')
          | #{name}
        h2.favorite-recipe Favorite Recipe
        | #{favorite}
block content
    footer
      p All original content on this page is &copy; 2020 BearClawRecipeForum, Inc.