extends layout

block content
  h1= title
  h2= 'Main Dishes'
  ul 
  li: a(href="recipes") Crock Pot Roast
  li: a(href="recipes2") Homestyle Pizza
  h2= 'Side Dishes'
  ul
  li: a(href="recipes3") Curried Chicken Salad
  li: a(href="recipes4") Roasted Asparagus
  
  h2= 'Desserts'
  ul
  li: a(href="recipes5") Blueberry Oatmeal Squares
  li: a(href="recipes6") Granny's Oatmeal Cookies
  
      