extends layout

block content
  h1= title
  h2= 'Main Dishes'
  ul 
  li: a(href='enchiladacasserole') Green Chile Chicken Enchilada Casserole
  li Easy Tuna Casserole
  li Chicken and Pasta Casserole
  h2= 'Side Dishes'
  ul
  li Italian Baked Zucchini Side Dish
  li Avocado Side Dish
  li Quinoa Side Dish
  h2= 'Desserts'
  ul
  li Dessert Crepes
  li Chocolate Mint Dessert Brownies
  li Dessert Pizza
      