body {
    background-image: linear-gradient(rgb(0, 217, 255), rgb(176, 100, 247));;
}
a.navButton {
    height: 55px;
    width: 80px;
}
h1 {
    color: white;
    font-size: 45px;
    background-image: linear-gradient(rgb(176, 100, 247), rgb(0, 217, 255));;

}
img {
    border-radius: 20px;
    border: 1px solid white;
}